page{
	width: 100%;
	height: 100%;
	background-color: #F4F4F4;
}

/* flex布局 */
.d-flex{
	display: flex;
}

.flex-1{
	flex: 1;
}

.flex-row{
	flex-direction: row;
}

.flex-col{
	flex-direction: column;
}

.j-start{
	justify-content: flex-start;
}

.j-center{
	justify-content: center;
}

.j-end{
	justify-content: flex-end;
}

.j-sb{
	justify-content: space-between;
}

.a-start{
	align-items: flex-start;
}

.a-center{
	align-items: center;
}

.a-end{
	align-items: flex-end;
}

.truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.font-medium{
	font-weight: 500;
}

/* 固定在底部 */
.fixed-bottom{
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	/* z-index: 1030; */
}


/* color */
.theme-bcolor{
	background-color: #EA3D4A;
}

.theme-color{
	color: #EA3D4A;
}

.white-color{
	color:#FFFFFF;
}

.title-color{
	color:#333333;
}

.title-color-9{
	color:#999999;
}

/* 外边距 */
.mt-22{
	margin-top: 22rpx;
}
.mb-22{
	margin-bottom: 22rpx;
}
.ml-22{
	margin-left: 22rpx;
}
.mr-22{
	margin-right: 22rpx;
}

.my-10{
	margin-top: 10rpx;
	margin-bottom: 10rpx;
}

.mx-10{
	margin-right: 10rpx;
	margin-left: 10rpx;
}

/* 内边距 */
.pb-52{
	padding-bottom: 52rpx;
}
.pt-22{
	padding-top: 22rpx;
}
.pb-22{
	padding-bottom: 22rpx;
}
.pl-22{
	padding-left: 22rpx;
}
.pr-22{
	padding-right: 22rpx;
}
.py-10{
	padding-top: 10rpx;
	padding-bottom: 10rpx;
}


/* 圆角 */
.border-radius-22{
	border-radius: 22rpx;
}

/* 字体大小 */
.font-30{
	font-size: 30rpx;
}
.font-22{
	font-size: 22rpx;
}